extends ./layouts/main-layout.pug

block styles
    link(href="/css/details.css", rel="stylesheet")

block content
    h1 Details User
    a(href="/") Regresar
    .content
        p Id Usuario: #{user.id}
        p Nombre: #{user.nombre}
        p Edad: #{user.edad}
        p Género: #{user.genero}
        p Email: #{user.email}
        p Profesion: #{user.profesion}
        p Salario: #{user.salario}
        p Teléfono: #{user.nroTelef}
        button(class="btn-delete" id="btn-delete") Eliminar
        a(href="/user/edit/"+user.id class="btn-edit") Editar
    script(src="/js/user.js")
    